@font-face {
    font-family: "CeraPro Regular";
    src: url("../fonts/CeraPro-Regular.woff2");
}

@font-face {
    font-family: "CeraPro Medium";
    src: url("../fonts/CeraPro-Medium.woff2");
}

@font-face {
    font-family: "CeraPro Bold";
    src: url("../fonts/CeraPro-Bold.woff2");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);
    margin-bottom: 10px;
}

.menu {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menuItem {
    color: #303030;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 16px;
    border-bottom: 3px solid transparent;
    padding: 8px 0 25px;
}

.active {
    font-family: "CeraPro Bold", sans-serif;
    border-color: #46A358;
}

.hederBtn {
    background: #46A358;
    color: #ffffff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 17px;
    text-decoration: none;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.main {
    background-color: #F5F5F5;
    padding: 68px 40px 0;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
}

.heroText {
    width: 557px;
}

.heroImage {
    width: 450px;
    position: relative;
}

.heroPlantBig {
    display: block;
    width: 450px;
}

.heroPlantSmall {
    width: 135px;
    position: absolute;
    left: 60px;
    bottom: 0;
}

.heroSubtitle {
    margin: 0;
    color: #3D3D3D;
    font-family: "CeraPro Medium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.4px;
}

.heroTitle {
    margin: 0;
    color: #3D3D3D;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 70px;
    line-height: 70px;
}

.heroTitle span {
    color: #46A358;
}

.heroDescription {
    margin: 0;
    color: #727272;
    font-family: "CeraPro Regular", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.shopBtn {
    display: inline-block;
    background-color: #46A358;
    color: #ffffff;
    font-family: "CeraPro Bold", sans-serif;
    font-size: 16px;
    text-decoration: none;
    padding: 11px 27px;
    border-radius: 6px;
    margin-top: 44px;
}